*{
    margin: 0.1rem;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: rgba(151, 146, 228, 1);
    --secondary: rgba(0, 133, 252, 1);
    --dark: rgba(50, 51, 50, 1);
    --light: rgba(254, 255, 254, 1);
}

/*-------HEADER-------*/
header{
    height: 80px;
}

#site_header{
    background-color: var(--secondary);
}